server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/product_service_db?currentSchema=public
    username: postgres
    password: datdev
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate    
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  
  flyway:
    enabled: true
    locations: classpath:db/migration
    schemas: public
    validate-on-migrate: true
    out-of-order: false

  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

  logging:
    level:
      org.hibernate.SQL: DEBUG
      org.hibernate.orm.jdbc.bind: TRACE

file:
  upload-dir: uploads/products