spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}

server:
  port: ${SERVER_PORT:8080}

file:
  upload-dir: ${UPLOAD_DIR:uploads/products}

# SpringDoc OpenAPI (Swagger UI)
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    try-it-out-enabled: true
    operations-sorter: method
    tags-sorter: alpha
    display-request-duration: true

gemini:
  api:
    url: https://generativelanguage.googleapis.com/v1beta/models
  model: gemini-2.5-flash
