server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/product_service_db
    username: postgres
    password: datdev
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-init-sql: SET TIME ZONE 'Asia/Ho_Chi_Minh';

  jpa:
    hibernate:
      ddl-auto: none    
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
