spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}

server:
  port: ${SERVER_PORT:8080}

file:
  upload-dir: ${UPLOAD_DIR:uploads/products}

gemini:
  api:
    url: https://generativelanguage.googleapis.com/v1beta/models
  model: gemini-2.5-flash
